
.first
{
    background-image: url("assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height:750px;
    margin: 50px 50px 0px 50px;
}
#logo{
    display: flex;
    justify-content: flex-start;
    font-size: 200px;
    color: white;
    margin-top: -500px;
    margin-left: -700px;
    padding-right: 100px;

}

.first{
    align-items: center;
    justify-content: center;
}
#sub-nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 40px;
    padding-left: 200px;
    padding-bottom:-780px ;
}
#logo>a{
    text-decoration: none;
    color: white;
}
#section{
    font-family: 'Roboto Slab', serif;
    display: flex;
    color: white;
    font-size: 20px;
    margin: 0px 50px ;
}
.party{
    margin: 0px;
    height: 200px;
    width: 455px;
}
.happy{
    background-color: lavenderblush;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    opacity: 0.5;
}
.par{
    background-color: #F15A29;
    height: 100px;
   align-items: center;
   display: flex;
   justify-content: center;
}
.lunch{
    background-image: url("assets/foodtop/dinner2.jpg");
    height: 200px;
    width: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#din{
    background-image: url("assets/foodtop/dinner.jpg");
    height: 200px;
    width: 455px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#break{
    background-image: url("assets/foodtop/breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 455px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fastfood{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
    /* margin: 50px 40px 0 50px; */
}
.img{
    border: 2px solid #eff3ef;
    padding: 10px;
}
.fastfood>div:last-child{
    color: black;
    margin: 90px;
    opacity: 0.6;
}
#content>a>span
{
    border: 2px solid #F15A29;
    justify-content: center;
    text-align: center;
    color: #F15A29;
    padding-bottom:20px;
    width: 50px;
    margin: 10px;
}
#content>a{
    text-decoration: none;
    width: 50px;
    margin-top: 500px;

}
span>b{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#drinks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.img{
    border: 2px solid #eff3ef;
    display: inline-flexbox;
}
#img1{
    background-color: gainsboro;
    border: 2px solid honeydew;
    box-shadow: 0px 0px 5px 2px honeydew;

}
/* styling for another section */

.customers{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left:300px;
    width: 70%;
    box-shadow: 0px 0px 10px 1px grey;
    margin-bottom: 60px;
    height:350px;
    
}
.customers>.cust{
    border-right: 1px solid grey;
    margin: 10px;
    height: 100px;

}
.cust{
    margin: 20px;
    opacity: 0.7;
    padding: 90px;
    flex: 3;
}
.cust>h2{
    color: #F15A29;
    
}
#aboutmenu
{
    margin: 20px;
    opacity: 0.7;
    flex: 2;
    padding: 70px;
}
#aboutmenu>h2{
    color: #F15A29;
}
.evidence>a>span{
    color: #F15A29;
    font-size: 50px;
    padding-top: -50px;
}
a{
    text-decoration: none;
}
.cust>.evidence{
    padding-top: 20px;
    opacity: .9;
}
/* end of styling Customers */
/* styling main content on food */
#main-content{
    background-image: url("assets/backgrounds/foodsBg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    margin: 0px 50px;
    margin-bottom: 70px;
    margin-top: 40px;
}
#inner-content{
    background-color: white;
    margin:150px 80px 200px 80px;
    height: 450px;
    width: 90%;
    align-content: center;
    justify-content: center;
    
}
/* styling forward and backword icons */
#pictures>a{
color: #F15A29;
font-size: 90px;

}
/* end  */
/* demo2 styling */
.demo2{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: grey;
    font-size: 30px;
    color: black;
    /* padding: 40px; */
    height: 20px;
    text-align: center;
    padding-bottom: 90px;
    padding-top: -300px;
    text-align: center;

}
.demo2-extend{
    color: #F15A29;
    background-color: white;
   
}

.demo3{
    display: flex;
    height: 50px;
    display: flex;
    flex-grow:3;
    padding-top: 10px;
    background-color: lightgrey;
   
        
}
.demo2>.demo3{
    border: 1px solid grey;

}


/* end of demo2 styling */
#pictures{
display: flex;
align-items: center;
justify-content: space-around;
padding: 40px;
padding-bottom: 30px;
color: #F15A29;
}
h3{
    font-size: 20px;
    text-align: center;
}
/* end of styling table and food section */
/* start of footerst styling */
.email{
    background-image: url("assets/backgrounds/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color:white;
    /* text-align: center; */
    padding: 20px;
    margin: 0px 50px;
}
.details{
    display: flex;
    justify-content:center;
    align-content: center;

    
}
.details>#e{
    border: 2px solid rgb(250, 247, 247);
    background-color: grey;
    width: 300px;
    border-radius: 3px;
    font-size: 20px;
    opacity: 0.7;
    margin: 20px;
    
}
.e{
    text-align: left;
}
.details>.p{
    background-color: #F15A29;
    width: 200px;
    border-radius: 3px;
    margin: 20px;
    font-size: 20px;
    
}
.p>a{
    text-decoration: none;
    color: white;
}
/* start of styling footer */
footer{
    background-color: #F15A29;
    height: 300px;
    text-align: center;
    padding: 40px;
    color: black;
    margin: 0px 50px;
   
}
.menufooter{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 20px;
}
.menufooter>h1{
    padding: 20px;
}
/* end of styling footer */